:root {
    --main-bg-color: #243642;    /* Основной цвет фона */
    --submenu-bg-color: #135D66; /* Цвет фона подменю */
    --text-color: white;         /* Основной цвет текста */
    --hover-text-color: #FF9EAA; /* Цвет текста при наведении */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: var(--main-bg-color);
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    transition: transform 0.3s ease; /* Плавный переход для боковой панели */
    transform: translateX(0); /* По умолчанию панель видна */
}

.sidebar.hidden {
    transform: translateX(-100%); /* Скрываем панель п